$grey_01 : #fafafa;
$grey_02 : #f5f5f5;
$grey_03 : #ebebeb;
$grey_04 : #e0e0e0;
$grey_05 : #d1d1d1;
$grey_06 : #c6c6c6;
$grey_07 : #bababa;
$grey_08 : #a6a6a6;
$grey_09 : #8c8c8c;
$grey_10 : #696969;
$grey_11 : #4d4d4d;
$grey_12 : #2f2f2f;
$grey_13 : #1c1c1c;
$grey_14 : #000000;


$yellow_01 : #fefcbf;
$yellow_02 : #fef3a7;
$yellow_03 : #fdea7e;
$yellow_04 : #fdd852;
$yellow_05 : #fcc41c;
$yellow_06 : #fbb005;
$yellow_07 : #f9a600;
$yellow_08 : #f79300;
$yellow_09 : #f57e00;
$yellow_10 : #f36b00;


$red_01 : #ffc0c0;
$red_02 : #ffa0a0;
$red_03 : #ff8181;
$red_04 : #ff6363;
$red_05 : #ff4d4d;
$red_06 : #ff3737;
$red_07 : #ff1c1c;
$red_08 : #ff0000;
$red_09 : #e60000;
$red_10 : #cc0000;


$blue_01 : #c0d6ff;
$blue_02 : #a0c6ff;
$blue_03 : #80b6ff;
$blue_04 : #60a6ff;
$blue_05 : #4096ff;
$blue_06 : #2086ff;
$blue_07 : #0076ff;
$blue_08 : #0066ff;
$blue_09 : #0056ff;
$blue_10 : #0046ff;


$green_01 : #c0ffd6;
$green_02 : #a0ffb6;
$green_03 : #80ff96;
$green_04 : #60ff76;
$green_05 : #40ff56;
$green_06 : #20ff36;
$green_07 : #00ff1c;
$green_08 : #00ff00;
$green_09 : #00e600;
$green_10 : #00cc00;

$purple_01 : #d6c0ff;
$purple_02 : #E4CCFF;
$purple_03 : #CA99FF;
$purple_04 : #AF66FF;
$purple_05 : #9532FF;
$purple_06 : #7F00FF;
$purple_07 : #6600D4;
$purple_08 : #5200A9;
$purple_09 : #3D007F;
$purple_10 : #280054;

$sourmei: #22577E;
$sourmei_light: #3C7FA9;
$green_light:#95D1CC;
$cream: #F6F2D4;







